*{
    background-color: burlywood;
    font-size: 22px;
}

.logo{
    height: 50px;
    width: auto;
}
h1{
    display: inline;
}

.title{
    text-align: center;
}
.bastilla{
    display: block;
    margin: 10px auto 40px auto;
}

article{
    margin: 10px 60px ;
}